$primary-color: #fceddc;

.GenreList {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  justify-content: center;
  margin: auto;
  margin-top: 2.5rem;
  margin-right: -2rem;

  h2 {
    margin-bottom: 1.5rem;
    color: rgb(252, 237, 220);
  }

  form {
    display: flex;
    justify-content: center;
  }

  Input {
    width: 22rem;
    height: 48.8px;

    &::placeholder {
      color: rgb(168, 145, 118);
      transition: 0.3s;
    }

    &:focus {
      background: #fff4e8;
      transition: 0.3s;
    }

    + span {
      width: 100%;
      font-size: 0.78rem;
    }
  }

  Button {
    cursor: pointer;
    border: none;
    outline: none;
    margin-left: 0.7rem;
    background: #c06b0a;
    color: $primary-color;
    transition: 0.3s;
    height: 42px;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Nunito", serif;
    font-weight: 600;
    font-size: 19px;
    letter-spacing: 0.1rem;

    &:hover {
      background: #a35b09;
      transition: 0.3s;
    }
  }

  hr {
    background: $primary-color;
    width: 50%;
    margin-top: 1rem;
    border-width: 2px;
  }

  > Button.success {
    margin-top: 0.5rem;
    width: 23rem;
    font-size: 19px;
    padding: 24px 4px;
    background: #924f02;
    border: 2.5px solid #fafafa8a;
    box-shadow: none;
    border-radius: 5px;
    color: rgb(255, 244, 232);
    display: flex;
    align-items: top;
    justify-content: center;

    &:hover {
      background: #aa5c02;
      border: 2.5px solid #fafafaab;
      color: rgb(255, 248, 241);
    }

    &:active {
      transform: scale(0.98);
    }

    span {
      display: flex;
      margin-left: 0.27rem;
      margin-top: 0.07rem;
      font-weight: bold;
      transition: 0.3s;
      font-size: 13px;
    }

    .down {
      transform: rotate(270deg);
      transition: 0.3s;
    }

    .up {
      transform: rotate(90deg);
      transition: 0.2s;
    }
  }
}
