.BackItem {
  a {
    text-decoration: none;

    div {
      font-family: "Comic Sans MS", arial;
      color: #fff;
      font-weight: bold;
      transition: 0.2s;

      span {
        font-size: 11px;
      }
    }

    &:active {
      color: #000;
    }
  }
}
