.Layout {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  background: #37104d;
  font-family: "Comic Sans MS", arial;
  overflow-y: auto;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 11px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #bd5a31;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.4);
  }

  &::-webkit-scrollbar-track-piece {
    background: #37104d;
  }

  .Content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    position: relative;
    width: 100vw;
    height: 100vh;
    animation: loading 1s ease-in-out;
    color: #fff;
    margin-top: 0;
  }
}

@keyframes loading {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
