.Logo {
  padding-top: 2%;
  padding-left: 3%;
  font-size: 35px;

  a {
    text-decoration: none;
    font-family: "Comic Sans MS", arial;
    text-transform: uppercase;
    transition: 0.3s;
    color: rgb(249, 245, 252);
    text-shadow: 4px 4px 3px rgba(189, 90, 49, 1);

    &:hover {
      text-decoration: none;
      transition: 0.3s;
      color: #f4e1ff;
      text-shadow: 4px 4px 3px rgb(255, 77, 0);
    }
  }
}
