.HomePage {
  padding-top: 4rem;
  margin-top: 106px;

  .DescriptionWrapper {
    text-align: center;
    margin-top: -2%;

    .Description {
      color: #ddcbbf;
      margin: auto;
      margin-bottom: 2%;
      margin-top: 2%;
      width: 80%;
      font-family: "Comic Sans MS", arial;
      font-size: 20px;
    }

    hr {
      margin: auto;
      border: 0;
      height: 1px;
      background: #000;
      background-image: linear-gradient(to left, #000, #fff, #000);
    }

    .FirstLine {
      width: 66%;
      margin-top: 2%;
    }

    .SecondLine {
      width: 38%;
      margin-bottom: 3%;
    }
  }
}
