.CardWrapper {
  margin-bottom: 0.65rem;

  .Cards {
    height: 300px;
    width: 360px;
    max-width: 100%;
    perspective: 1000px;
    margin-top: 4rem;

    .FrontSide {
      color: #f7e7c9;
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 1.5s;
      backface-visibility: hidden;
      border-radius: 10px;
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);

      .contentCard {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 93%;
        height: 93%;

        .topOfCardContent {
          width: 100%;
          display: flex;
          justify-content: center;

          .year {
            display: flex;
            height: 100%;
            width: 100%;
            justify-content: flex-start;
            color: #fafafae0;
            font-size: 22px;
            text-shadow: 0px 4px 3px #6b2507, 0px 2px 13px #6b2507,
              0px 1px 3px #6b2507;
          }

          .rating {
            width: 3.2rem;
            height: 2.9rem;
            border: 4px outset #bd5a31;
            border-radius: 50%;
            display: flex;
            font-size: 18px;
            font-weight: bold;
            justify-content: center;
            align-items: center;
            line-height: 3.2rem;
            background: #fafafa;
            color: #611275;
          }
        }

        .titles {
          height: 100%;
          width: 100%;
          justify-content: flex-end;
          display: flex;
          flex-direction: column;
          margin-top: 6rem;

          .engTitle {
            font-size: 22px;
          }

          .rusTitle {
            font-size: 16px;
          }
        }

        i {
          display: flex;
          height: 100%;
          width: 100%;
          align-items: flex-end;
          justify-content: center;
          font-size: 15px;
          color: #d487b1;
        }
      }
    }

    .BackSide {
      @extend .FrontSide;
      flex-direction: column;
      transform: rotateY(180deg);
    }

    &:hover .FrontSide {
      transform: rotateY(180deg) scale(1.07);
    }

    &:hover .BackSide {
      transform: rotateY(360deg) scale(1.07);
    }

    &:hover {
      filter: saturate(130%);
      transition: 0.3s;

      ~ Button {
        transform: translateY(15px);

        &:hover {
          transform: translateY(15px);
        }
      }
    }
  }

  .bottomOfCard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;

    .categoryList {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin-bottom: 0.8rem;
      margin-top: 1rem;

      .addLabel {
        color: #f7e7c9;
        font-size: 19px;
        font-weight: bold;
      }

      .Select {
        display: flex;
        margin: 0 0 0 1rem;
        z-index: -0;
      }
    }

    .buttonsWrapper {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      width: 100%;

      .onAdd,
      .onBuy {
        color: #fcfafa;
        transition: 0.3s;

        &:hover {
          transition: 0.3s;
          transform: scale(0.99);
          color: #fff3ddf3;
        }
        &:active {
          transform: scale(0.98);
          transition: 0.3s;
        }
      }

      .onAdd {
        background: #97479b;
        padding: 11px 6px;
        width: 48%;

        &:hover {
          background: #9d3aa1a6;
        }
      }

      .onBuy {
        width: 55%;
        background: rgba(189, 90, 49, 1);
        margin-left: 10px;
        font-size: 17px;
        padding: 0.45rem 6px;

        &:hover {
          background: rgba(199, 88, 40, 0.733);
        }

        span {
          font-size: 1.4rem;
        }
      }
    }
  }
}
