.watch {
  height: 33.6px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(1, 134, 1);
  box-shadow: none;
  cursor: default;

  &:active {
    box-shadow: none;
  }
}

.bought {
  font-size: 17.5px;
  padding: 7.2px 8px;
  width: 9rem;
  background: rgb(1, 134, 1);
  cursor: default;
  box-shadow: 1px 1px 1px 1px rgba($color: #000000, $alpha: 0.4);

  &:active {
    box-shadow: 1px 1px 1px 1px rgba($color: #000000, $alpha: 0.4);
  }
}
