.AllFilms {
  text-align: center;

  p {
    color: #ba9283;
    font-size: 35px;
    font-weight: bold;
  }

  ul {
    display: block;
    margin: 0px 0px;
    padding-left: 0px;

    li {
      list-style-type: none;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      position: relative;
      margin-bottom: 2rem;
    }
  }
}
