.paginate {
  margin: auto;
  padding: 0;
  display: flex;
  justify-content: center;
  list-style: none;
  position: absolute;
  left: 0;
  bottom: 0.8%;
  right: 0;

  .link {
    cursor: pointer;
    margin: auto 0.2px auto -2px;
    padding: 0.5rem 0.75rem;
    line-height: 1.25;
    color: #bd4300;
    background-color: #f7d9a8;
    border: 2px solid #bd4200b9;
    transition: 0.3s;

    &:hover {
      background-color: #37104d49;
      color: #f7d9a8;
      transition: 0.3s;
      transform: scale(1.05);
    }

    &:active {
      transform: scale(1.08);
    }

    &:first-child {
      border-top-left-radius: 0.25rem;
      border-bottom-left-radius: 0.25rem;
    }

    &:last-child {
      border-top-right-radius: 0.25rem;
      border-bottom-right-radius: 0.25rem;
    }
  }
}
