.Slider {
  font-family: "Comic Sans MS", arial;
  margin-bottom: 5%;
  margin-left: 11px;
  // overflow: hidden;

  .SliderWrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: fit-content;
    animation: carousel 30s infinite alternate linear;
    animation-play-state: running;

    &:hover {
      animation-play-state: paused;
    }
  }
}

@keyframes carousel {
  100% {
    transform: translate(0, 0);
  }

  0% {
    transform: translate(calc(-87% + (3 * 300px)));
  }
}
