nav.Navbar {
  width: 100%;

  ul {
    font-family: "Exo", sans-serif;
    text-transform: uppercase;
    display: flex;
    justify-content: flex-end;
    max-width: 1500px;
    margin: 33px 2% 0 0;

    li {
      list-style: none;
      position: relative;
      padding: 16px;

      &:hover {
        transition: 0.3s ease;
        box-shadow: 1px 5px 10px -5px black;
        background-color: #bd5a31;
        cursor: pointer;

        a {
          text-decoration: none;
        }

        .list {
          color: #fafafa;
          color: #f4e1ff;
        }
      }

      &:active {
        .list {
          color: #37104d;
        }
      }

      a {
        text-decoration: none;
        padding: 0 20px;
        color: rgb(255, 198, 177);
        color: #e9c3ff;
        color: #fafafa;
        font-weight: bold;
      }
    }

    li:last-child {
      cursor: default;
      box-shadow: 1px 5px 10px -5px black;
      background-color: #bd5a31;
      padding: 16px 20px;
      order: -1;

      a {
        color: #fef8d7;
        color: #fafafa;
        color: #f4e1ff;
      }
    }

    li:first-child:hover ~ li:last-child,
    li:nth-child(2):hover ~ li:last-child,
    li:nth-child(3):hover ~ li:last-child {
      box-shadow: none;
      background-color: transparent;
    }

    li:first-child:hover ~ li:last-child a,
    li:nth-child(2):hover ~ li:last-child a,
    li:nth-child(3):hover ~ li:last-child a {
      color: #e9c3ff;
      color: #fafafa;
    }

    li:nth-child(4) {
      &:hover {
        box-shadow: none;
        background-color: transparent;
      }
    }
  }
}
