@mixin flexible() {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.FilmList {
  margin-top: 5.5rem;
  @include flexible();

  > div {
    width: 100%;
    @include flexible();
    margin-bottom: 2rem;
  }

  .AddTitle {
    font-size: 35px;
    font-weight: normal;
    color: rgb(199, 108, 4);
  }

  .FilmListInputs {
    width: 80%;
    @include flexible();
    align-items: normal;

    Input {
      width: 22rem;
      height: 48.8px;
      margin: 0 1.2rem 1.4rem 1.2rem;

      + span {
        font-size: 0.78rem;
        margin: -18px auto 15px;
      }
    }
  }

  .Buttons {
    @include flexible();
    margin-bottom: 2rem;

    Button:nth-child(1) {
      margin-right: 1rem;
      width: 12.5%;
      font-size: 20px;
      padding: 10px 1px;
      color: rgb(255, 244, 232);
      background: rgb(151, 6, 151);
      transition: 0.3s;

      &:hover {
        background: rgb(173, 4, 173);
        transition: 0.3s;
      }

      &:disabled {
        background: #ccc;
        color: #000;
        cursor: not-allowed;

        &:hover {
          background: #ccc;
        }
      }
    }

    Button:nth-child(2) {
      width: 15%;
      font-size: 20px;
      padding: 10px 3px;
      margin-right: 1rem;
      color: rgb(255, 244, 232);
    }
  }
}
