.auth {
  font-family: "Comic Sans MS", arial;
  width: 346px;
  display: flex;
  flex-direction: column;
  margin: 7.5rem auto auto;

  h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #db6736;
    margin-bottom: 1.3rem;
  }

  .Buttons {
    margin-top: 0.5rem;
    display: flex;
  }

  .login,
  .registration {
    .renderInputs {
      input + span {
        width: calc(100% - 12px);
        justify-content: flex-start;
        margin-left: 12px;
        margin-right: 22px;
        margin-bottom: 8px;
      }

      div {
        margin-bottom: 7px;
      }
    }

    .errorLogin {
      color: #f01f30;
      display: flex;
      justify-content: center;
      margin-bottom: 0.7rem;
      margin-top: -0.2rem;
      font-size: 0.78rem;
    }
  }
}
